.ui-state-highlight { height: 5em; }

.widget {
	-moz-box-shadow: 1px 1px 12px rgba(0,0,0,.7);
	-webkit-box-shadow: 1px 1px 12px rgba(0,0,0,.7);
	box-shadow: 1px 1px 12px rgba(0,0,0,.7);
}


.widget-close-button, .widget-settings-button {
    cursor: pointer;
    padding-left: 1em;
    padding-right: 1em;
    width: 15px;
    height: 15px;
}

.widget-content {
    background-color: #fff;
}